* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home-container {
  height: 100vh;
  width: 100%;
  background: linear-gradient(to bottom, rgb(49, 41, 41), rgba(0, 0, 0, 0.569)),
    url("/public/assets/bg.jpg") center/cover no-repeat;

  display: flex;
  align-items: center;
  justify-content: center;
}

.start-btn {
  color: white;
  cursor: pointer;
  font-size: 56px;
  background-color: rgba(122, 27, 11, 0.406);
  border: 3px solid white;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
