@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
    --primary-color: #02093f;
    --secondary-color: green;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    color: lightgray;
    position: relative;
    
}

.main-container{
    height: 100vh;
    width: 100%;
    background: linear-gradient(to bottom, rgba(28, 1, 1, 0.227), var(--primary-color)), url('/public/assets/bg.jpg') center/cover no-repeat;
    display: flex;
    
}

.score-container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

.play-again-btn{
    background-color: blue;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    height: 40px;
    width: 300px;
    border: 0;
    cursor: pointer;
    color: white;
    font-size: 24px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}


.you-earned{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    margin-bottom: 100px;
    
}

.quiz-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75%;
    margin-left: 80px;
    bottom: 20px;
}

.quiz-top{
    height: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}


.money-section{
    width: 25%;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;

}

.money-container{
    width: 100%;
    padding: 20px;
   
}

.money{
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
   
}

.question-number{
    width: 30%;
    font-weight: 100;
}

.answer-amount{
   font-size: 20px;
   font-weight: 300;
}

.active{
    background-color: teal;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

